<div class="section">
	<div class="section-header">
		<div class="section-header-name">
			<div>
				<span class="class-name">{{ gradeName }}</span>
				<span>|</span>
				<span class="table-name">{{ tableName }}</span>
			</div>
		</div>
		<div class="section-header-data monitoring-summary">
			<table class="table">
				<thead>
					<tr class="head-space-holder">
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr rowname="monitoring">
						<td>رصد</td>
						<td colname="arabic"></td>
						<td colname="english"></td>
						<td colname="socialStudies"></td>
						<td colname="math"></td>
						<td colname="sciences"></td>
						<td colname="activity_1"></td>
						<td colname="activity_2"></td>
						<td colname="religion"></td>
						<td colname="computer"></td>
						<td colname="draw"></td>
						<td colname="sports"></td>
					</tr>
					<tr rowname="absence">
						<td>غياب</td>
						<td colname="arabic"></td>
						<td colname="english"></td>
						<td colname="socialStudies"></td>
						<td colname="math"></td>
						<td colname="sciences"></td>
						<td colname="activity_1"></td>
						<td colname="activity_2"></td>
						<td colname="religion"></td>
						<td colname="computer"></td>
						<td colname="draw"></td>
						<td colname="sports"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="data-table">
		<div class="table-head">
			<table class="table">
				<thead>
					<tr class="head-space-holder">
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="student-name-size"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
					</tr>

					<tr>
						<th class="rotated-head serial" rowspan="2">
							<span>مسلسل</span>
						</th>
						<th class="rotated-head sitting" rowspan="2">
							<span>رقم الجلوس</span>
						</th>
						<th class="std-name" rowspan="2">
							<span>اسم الطالب</span>
						</th>
						<th class="rotated-head class-number" rowspan="2">
							<span>الفصل</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>اللغة العربية</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>اللغة الإنجليزية</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>الدراسات</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>الرياضيات</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>العلوم</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>نشاط 1</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>نشاط 2</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>التربية الدينية</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>الحاسب الآلي</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>التربية الفنية</span>
						</th>
						<th class="rotated-head" rowspan="1">
							<span>التربية الرياضية</span>
						</th>
					</tr>
					<tr>
						{# {% for deg in degrees %}<th>{{ deg }}</th>{% endfor %} #}
						<th>30</th>
						<th>30</th>
						<th>30</th>
						<th>30</th>
						<th>30</th>
						<th>100</th>
						<th>100</th>
						<th>30</th>
						<th>30</th>
						<th>30</th>
						<th>30</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="table-body">
			<table class="table">
				<thead>
					<tr class="head-space-holder">
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="student-name-size"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
						<th class="cell-size-1"></th>
					</tr>
				</thead>
				<tbody>
					{% for entity in entities %}
						<tr>
							<td dataname="studentId">{{ entity.studentId }}</td>
							<td dataname="sittingNumber">{{ entity.sittingNumber }}</td>
							<td dataname="studentName">{{ entity.studentName }}</td>
							<td dataname="classNumber">{{ entity.classNumber }}</td>
							<td contenteditable="true" class={{ entity.arabic >= 0 ?: "warning" }} dataname="arabic">
								{{ entity.arabic < 0 ? "غ" : entity.arabic }}</td>
							<td contenteditable="true" class={{ entity.english >= 0 ?: "warning" }} dataname="english">
								{{ entity.english < 0 ? "غ" : entity.english }}</td>
							<td contenteditable="true" class={{ entity.socialStudies >= 0 ?: "warning" }} dataname="socialStudies">
								{{ entity.socialStudies < 0 ? "غ" : entity.socialStudies }}</td>
							<td contenteditable="true" class={{ entity.math >= 0 ?: "warning" }} dataname="math">
								{{ entity.math < 0 ? "غ" : entity.math }}</td>
							<td contenteditable="true" class={{ entity.sciences >= 0 ?: "warning" }} dataname="sciences">
								{{ entity.sciences < 0 ? "غ" : entity.sciences }}</td>
							<td contenteditable="true" class={{ entity.activity_1 >= 0 ?: "warning" }} dataname="activity_1">
								{{ entity.activity_1 < 0 ? "غ" : entity.activity_1 }}</td>
							<td contenteditable="true" class={{ entity.activity_2 >= 0 ?: "warning" }} dataname="activity_2">
								{{ entity.activity_2 < 0 ? "غ" : entity.activity_2 }}</td>
							<td contenteditable="true" class={{ entity.religion >= 0 ?: "warning" }} dataname="religion">
								{{ entity.religion < 0 ? "غ" : entity.religion }}</td>
							<td contenteditable="true" class={{ entity.computer >= 0 ?: "warning" }} dataname="computer">
								{{ entity.computer < 0 ? "غ" : entity.computer }}</td>
							<td contenteditable="true" class={{ entity.draw >= 0 ?: "warning" }} dataname="draw">
								{{ entity.draw < 0 ? "غ" : entity.draw }}</td>
							<td contenteditable="true" class={{ entity.sports >= 0 ?: "warning" }} dataname="sports">
								{{ entity.sports < 0 ? "غ" : entity.sports }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
