{% block section %}

	<div class="data">
		<div class="table-head">
			<table class="students-data data-header">
				<thead>
					<tr>
						<th rowspan="2" dataname="studentId">مسلسل</th>
						<th rowspan="2" dataname="studentName">اسم الطالب</th>
						<th rowspan="2" dataname="classNumber">الفصل</th>
						<th rowspan="2" dataname="grade">الصف</th>
						<th rowspan="2" dataname="enrollmentStatus">حالة القيد</th>
						<th rowspan="2" dataname="religion">الديانة</th>
						<th rowspan="2" dataname="nationalId">الرقم القومي</th>
						<th rowspan="2" dataname="sex">النوع</th>
						<th rowspan="2" dataname="pirthDate">تاريخ الميلاد</th>
						<th colspan="3" dataname="">السن</th>
					</tr>
					<tr>
						<th dataname="day">يوم</th>
						<th dataname="month">شهر</th>
						<th dataname="year">سنة</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="table-body">
			<table class="students-data">
				<tbody>
					{% for row in data %}
						<tr>
							<td contenteditable='false' dataname='studentId'>{{ row.studentId }}</td>
							<td contenteditable='true' dataname='studentName'>{{ row.studentName }}</td>
							<td contenteditable='true' dataname='classNumber'>{{ row.classNumber }}</td>
							<td contenteditable='true' dataname='grade'>{{ row.grade }}</td>
							<td contenteditable='true' dataname='enrollmentStatus'>{{ row.enrollmentStatus }}</td>
							<td contenteditable='true' dataname='religion'>{{ row.religion }}</td>
							<td contenteditable='true' dataname='nationalId'>{{ row.nationalId }}</td>
							<td contenteditable='false' dataname='sex'>{{ row.sex }}</td>
							<td contenteditable='false' dataname='pirthDate'>{{ row.pirthDate }}</td>
							<td contenteditable='false' dataname='day'>{{ row.day }}</td>
							<td contenteditable='false' dataname='month'>{{ row.month }}</td>
							<td contenteditable='false' dataname='year'>{{ row.year }}</td>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>

{% endblock section %}
