<th rowspan="1" class="min-deg">
	<span>{{ degs.min.arabic }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.english.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.socialStudies.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.math.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.sciences.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.mainlTotal.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.activity_1.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.activity_2.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.religion.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.computer.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.draw.min }}</span>
</th>
<th rowspan="1" class="min-deg">
	<span>{{ degs.soprts.min }}</span>
</th>
{#
degs = [
    'evaluations' => 30, 'practical' => 14, 'written' => 70, 'aljebra' => 35, 'geometry' => 35, 'semiWritten' => 56,
    'arabic'         => ['min' => 20, 'max' => 40],
    'english'        => ['min' => 15, 'max' => 30],
    'socials'        => ['min' => 10, 'max' => 20],
    'math'           => ['min' => 15, 'max' => 30],
    'sciences'       => ['min' => 10, 'max' => 20],
    'mainlTotal'     => ['min' => 70, 'max' => 140],
    'activity_1'     => ['min' =>  5, 'max' => 10],
    'activity_2'     => ['min' =>  5, 'max' => 10],
    'total'          => ['min' => 80, 'max' => 160],
    'totalSummation' => ['min' => 10, 'max' => 20],
    'computer'       => ['min' =>  5, 'max' => 10],
    'draw'           => ['min' =>  5, 'max' => 10],
    'soprts'         => ['min' => 10, 'max' => 20]
]

degs = [
    'arabic'         => ['min' =>  40, 'max' =>  80],
    'english'        => ['min' =>  30, 'max' =>  60],
    'socials'        => ['min' =>  20, 'max' =>  40],
    'math'           => ['min' =>  30, 'max' =>  60],
    'sciences'       => ['min' =>  20, 'max' =>  40],
    'mainlTotal'     => ['min' => 140, 'max' => 280],
    'activity_1'     => ['min' =>  10, 'max' =>  20],
    'activity_2'     => ['min' =>  10, 'max' =>  20],
    'totalSummation' => ['min' => 160, 'max' => 320],
    'religion'       => ['min' =>  20, 'max' =>  40],
    'computer'       => ['min' =>  10, 'max' =>  20],
    'draw'           => ['min' =>  10, 'max' =>  20],
    'soprts'         => ['min' =>  20, 'max' =>  40]
]
#}
