{% import "exams/general/absence.twig" as absence %}

{% if entity.socials.evaluation.isAbsence %}
	{{ absence.absenceCell(entity.socials.evaluation.value) }}
{% else %}
	<td>{{ entity.socials.evaluation.value }}</td>
{% endif %}

{% if entity.socials.written.isAbsence %}
	{{ absence.absenceCell(entity.socials.written.value) }}
{% else %}
	<td>{{entity.socials.written.value}}</td>
{% endif %}

{% if entity.socials.total.isAbsence %}
	{{ absence.absenceCell(entity.socials.total.value) }}
{% else %}
	<td>{{entity.socials.total.value}}</td>
{% endif %}

{% if entity.socials.netDegree.isAbsence %}
	{{ absence.absenceCell(entity.socials.netDegree.value) }}
{% else %}
	<td>{{entity.socials.netDegree.value}}</td>
{% endif %}

{% if entity.socials.grade.isAbsence %}
	{{ absence.absenceCell(entity.socials.grade.value) }}
{% else %}
	{% if entity.socials.grade.grade == 'F' %}
		<td class="danger">{{entity.socials.grade.grade}}</td>
	{% else %}

		<td>{{entity.socials.grade.grade}}</td>
	{% endif %}
{% endif %}
