<td dataname="studentId" studentid="{{ entity.studentData.studentId }}">
	{{ serial }}
</td>

<td>
	{{ entity.studentData.sittingNumber }}
</td>

<td>
	{{ entity.studentData.studentName }}
</td>

<td>
	{{ entity.studentData.classNumber }}
</td>

{% if entity.studentData.enrollmentStatus == "معيد" %}
	<td class="warning" }}>
		{{ entity.studentData.enrollmentStatus }}
	</td>
{% else %}
	<td>{{ entity.studentData.enrollmentStatus }}</td>
{% endif %}

<td>
	{{ entity.studentData.gradeNumber }}
</td>
