{% set absence = 'exams/general/absence-cell-editable.twig' %}

<td dataname="studentId" studentid="{{ entity.studentData.studentId }}">{{ serial }}</td>
<td dataname="sittingNumber">{{ entity.studentData.sittingNumber }}</td>
<td dataname="studentName">{{ entity.studentData.studentName }}</td>
<td dataname="classNumber">{{ entity.studentData.classNumber }}</td>


{% if entity.arabic.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.arabic.value }}</td>
{% endif %}

{% if entity.english.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.english.value }}</td>
{% endif %}

{% if entity.socials.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.socials.value }}</td>
{% endif %}

{% if entity.math.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.math.value }}</td>
{% endif %}

{% if entity.sciences.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.sciences.value }}</td>
{% endif %}

{% if entity.activity_1.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.activity_1.value }}</td>
{% endif %}

{% if entity.activity_2.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.activity_2.value }}</td>
{% endif %}

{% if entity.religion.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.religion.value }}</td>
{% endif %}

{% if entity.computer.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.computer.value }}</td>
{% endif %}

{% if entity.draw.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.draw.value }}</td>
{% endif %}

{% if entity.sports.isAbsence %}
	{% include absence %}
{% else %}
	<td contenteditable="true">{{ entity.sports.value }}</td>
{% endif %}
