{% import "exams/general/absence.twig" as absence %}

<td dataname="studentId" studentid="{{ entity.studentData.studentId }}">{{ serial }}</td>
<td dataname="sittingNumber">{{ entity.studentData.sittingNumber }}</td>
<td dataname="studentName">{{ entity.studentData.studentName }}</td>
<td dataname="classNumber">{{ entity.studentData.classNumber }}</td>


{% if entity.arabic.isAbsence %}
	{{ absence.absenceCell(entity.arabic.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.arabic.value }}</td>
{% endif %}

{% if entity.english.isAbsence %}
	{{ absence.absenceCell(entity.english.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.english.value }}</td>
{% endif %}

{% if entity.socials.isAbsence %}
	{{ absence.absenceCell(entity.socials.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.socials.value }}</td>
{% endif %}

{% if entity.math.isAbsence %}
	{{ absence.absenceCell(entity.math.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.math.value }}</td>
{% endif %}

{% if entity.sciences.isAbsence %}
	{{ absence.absenceCell(entity.sciences.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.sciences.value }}</td>
{% endif %}

{% if entity.activity_1.isAbsence %}
	{{ absence.absenceCell(entity.activity_1.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.activity_1.value }}</td>
{% endif %}

{% if entity.activity_2.isAbsence %}
	{{ absence.absenceCell(entity.activity_2.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.activity_2.value }}</td>
{% endif %}

{% if entity.religion.isAbsence %}
	{{ absence.absenceCell(entity.religion.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.religion.value }}</td>
{% endif %}

{% if entity.computer.isAbsence %}
	{{ absence.absenceCell(entity.computer.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.computer.value }}</td>
{% endif %}

{% if entity.draw.isAbsence %}
	{{ absence.absenceCell(entity.draw.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.draw.value }}</td>
{% endif %}

{% if entity.sports.isAbsence %}
	{{ absence.absenceCell(entity.sports.value, true) }}
{% else %}
	<td contenteditable="true">{{ entity.sports.value }}</td>
{% endif %}
