<div class="right-part">
	<span class="student-deg-lbl">درجة الطالب</span>
	<span class="student-grade-lbl">التقدير</span>
</div>
<div class="left-part">
	<div class="subject-degree">
		<span class="student-deg">{{ entity.arabic.netDegree.value }}</span>
		<span class="student-grade">{{ entity.arabic.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.english.netDegree.value }}</span>
		<span class="student-grade">{{ entity.english.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.socials.netDegree.value }}</span>
		<span class="student-grade">{{ entity.socials.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.math.netDegree.value }}</span>
		<span class="student-grade">{{ entity.math.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.sciences.netDegree.value }}</span>
		<span class="student-grade">{{ entity.sciences.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.baseTotal.total.value }}</span>
		<span class="student-grade">{{ entity.baseTotal.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.activity_1.netDegree.value }}</span>
		<span class="student-grade">{{ entity.activity_1.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.activity_2.netDegree.value }}</span>
		<span class="student-grade">{{ entity.activity_2.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.overallTotal.total.value }}</span>
		<span class="student-grade">{{ entity.overallTotal.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.religion.netDegree.value }}</span>
		<span class="student-grade">{{ entity.religion.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.computer.netDegree.value }}</span>
		<span class="student-grade">{{ entity.computer.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.draw.netDegree.value }}</span>
		<span class="student-grade">{{ entity.draw.grade.grade }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ entity.sports.netDegree.value }}</span>
		<span class="student-grade">{{ entity.sports.grade.grade }}</span>
	</div>
</div>
