<div class="right-part">
	<span class="student-deg-lbl">درجة الطالب</span>
	<span class="student-grade-lbl">التقدير</span>
</div>
<div class="left-part">
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.arabic }}</span>
		<span class="student-grade">{{ studentgrade.arabic }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.english }}</span>
		<span class="student-grade">{{ studentgrade.english }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.socials }}</span>
		<span class="student-grade">{{ studentgrade.socials }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.math }}</span>
		<span class="student-grade">{{ studentgrade.math }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.sciences }}</span>
		<span class="student-grade">{{ studentgrade.sciences }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.total }}</span>
		<span class="student-grade">{{ studentgrade.total }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.activity_1 }}</span>
		<span class="student-grade">{{ studentgrade.activity_1 }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.activity_2 }}</span>
		<span class="student-grade">{{ studentgrade.activity_2 }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg"></span>
		<span class="student-grade"></span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.religion }}</span>
		<span class="student-grade">{{ studentgrade.religion }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.computer }}</span>
		<span class="student-grade">{{ studentgrade.computer }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.draw }}</span>
		<span class="student-grade">{{ studentgrade.draw }}</span>
	</div>
	<div class="subject-degree">
		<span class="student-deg">{{ studentdeg.sports }}</span>
		<span class="student-grade">{{ studentgrade.sports }}</span>
	</div>
</div>
