<div class="right-part">
	<span class="subject-name-lbl">المادة</span>
	<span class="max-value-lbl">النهاة العظمى</span>
	<span class="min-value-lbl">النهاية الصغرى</span>
</div>
<div class="left-part">
	<div class="subject">
		<span class="subject-name">عربي</span>
		<span class="max-deg">{{ maxdeg[0] }}</span>
		<span class="min-deg">{{ mindeg[0] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">انجليزي</span>
		<span class="max-deg">{{ maxdeg[1] }}</span>
		<span class="min-deg">{{ mindeg[1] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">الدراسات</span>
		<span class="max-deg">{{ maxdeg[2] }}</span>
		<span class="min-deg">{{ mindeg[2] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">الرياضيات</span>
		<span class="max-deg">{{ maxdeg[3] }}</span>
		<span class="min-deg">{{ mindeg[3] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">العلوم</span>
		<span class="max-deg">{{ maxdeg[4] }}</span>
		<span class="min-deg">{{ mindeg[4] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name small-font">مجموع أساسي</span>
		<span class="max-deg">{{ maxdeg[5] }}</span>
		<span class="min-deg">{{ mindeg[5] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">نشاط 1</span>
		<span class="max-deg">{{ maxdeg[6] }}</span>
		<span class="min-deg">{{ mindeg[6] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">نشاط 2</span>
		<span class="max-deg">{{ maxdeg[7] }}</span>
		<span class="min-deg">{{ mindeg[7] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name small-font">المجموع الكلي</span>
		<span class="max-deg">{{ maxdeg[8] }}</span>
		<span class="min-deg">{{ mindeg[8] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">دين</span>
		<span class="max-deg">{{ maxdeg[9] }}</span>
		<span class="min-deg">{{ mindeg[9] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">الحاسب</span>
		<span class="max-deg">{{ maxdeg[10] }}</span>
		<span class="min-deg">{{ mindeg[10] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name">رسم</span>
		<span class="max-deg">{{ maxdeg[11] }}</span>
		<span class="min-deg">{{ mindeg[11] }}</span>
	</div>
	<div class="subject">
		<span class="subject-name small-font">التربية الرياضية</span>
		<span class="max-deg">{{ maxdeg[12] }}</span>
		<span class="min-deg">{{ mindeg[12] }}</span>
	</div>
</div>
