<td>{{ jobData['employee-type'] }}</td>
<td>{{ jobData['attitude-to-work'] }}</td>
<td>{{ jobData['employee-status'] }}</td>
<td>{{ jobData['date-of-hiring'] }}</td>
<td>{{ jobData['date-of-work-received'] }}</td>
