<td>{{ jobData['employee-type']['value'] }}</td>
<td>{{ jobData['attitude-to-work']['value'] }}</td>
<td>{{ jobData['employee-status']['value'] }}</td>
<td>{{ jobData['date-of-hiring'] }}</td>
<td>{{ jobData['date-of-work-received'] }}</td>
