<td class="name-cell link">
	<a href="/employees-affairs/edit/{{ employee['employee']['id'] }}">
		{{ personalData['name'] }}
	</a>
</td>
<td>{{ personalData['national-id'] }}</td>
<td>{{ personalData['pirthdate'] }}</td>
<td>{{ personalData['gender']['value'] }}</td>
<td>{{ personalData['religion']['value'] }}</td>
<td>{{ personalData['nationality']['value'] }}</td>
<td>{{ personalData['employee-type']['value'] }}</td>
<td>{{ personalData['date-of-hiring'] }}</td>
<td>{{ personalData['date-of-work-received'] }}</td>
