<div class='menu drop-down-menu'>
	<span class='menu-title'>رصد الدور الأول</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<div class='menu left-slide-menu'>
				<span class='menu-title'>التيرم الأول</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/monitoring/{{ gradeNumber ? : 1 }}/evaluation/fs' class='menu-btn'>التقويمات</a>
						<a href='/monitoring/{{ gradeNumber ? : 1 }}/practical/fs' class='menu-btn'>العملي</a>
						<a href='/monitoring/{{ gradeNumber ? : 1 }}/written/fs' class='menu-btn'>التحريري</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>التيرم الثاني</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/monitoring/{{ gradeNumber ? : 1 }}/evaluation/ss' class='menu-btn'>التقويمات</a>
						<a href='/monitoring/{{ gradeNumber ? : 1 }}/practical/ss' class='menu-btn'>العملي</a>
						<a href='/monitoring/{{ gradeNumber ? : 1 }}/written/ss' class='menu-btn'>التحريري</a>
					</div>
				</div>
			</div>
			<a href='' class='menu-btn'>تقارير الرصد</a>
		</div>
	</div>
</div>
