<td dataname="studentId" studentid="{{ entity.studentData.studentId }}">{{ serial }}</td>
<td dataname="sittingNumber">{{ entity.studentData.sittingNumber }}</td>
<td dataname="studentName">{{ entity.studentData.studentName }}</td>
<td dataname="classNumber">{{ entity.studentData.classNumber }}</td>
