{% import "exams/general/absence.twig" as absence %}

{% if entity.math.ss.evaluation.isAbsence %}
	{{ absence.absenceCell(entity.math.ss.evaluation.value) }}
{% else %}
	<td>{{ entity.math.ss.evaluation.value }}</td>
{% endif %}

{% if entity.math.ss.aljebra.isAbsence %}
	{{ absence.absenceCell(entity.math.ss.aljebra.value) }}
{% else %}
	<td>{{entity.math.ss.aljebra.value}}</td>
{% endif %}

{% if entity.math.ss.geometry.isAbsence %}
	{{ absence.absenceCell(entity.math.ss.geometry.value) }}
{% else %}
	<td>{{entity.math.ss.geometry.value}}</td>
{% endif %}


{% if entity.math.ss.written.isAbsence %}
	{{ absence.absenceCell(entity.math.ss.written.value) }}
{% else %}
	<td>{{entity.math.ss.written.value}}</td>
{% endif %}
