{% extends "admin/admin.twig" %}

{% block users %}
	<div class="form form-edit-user">
		<div class="form-header">
			<h2 class="form-title">تعديل بيانات مستخدم</h2>
		</div>

		<div id="user-id-container">
			<span class="lbl" id="user-id">كود المستخدم</span>
			<span class="user-id lbl">{{ user.getUserId }}</span>
		</div>

		<form action="" method="POST" class="edit-user-form">

			<div class="user-name form-item-container">
				<label class="lbl" for="user-name">اسم المستخدم</label>
				<input class="text-box" type="text" name="user-name" id="user-name" value="{{ user.getUserName }}">
			</div>

			<div class="full-name-container form-item-container">
				<span class="full-name-title lbl">الاسم بالكامل</span>
				<span class="full-name lbl">{{ user.getFullName }}</span>
			</div>

			<div class="group-name form-item-container">
				<label class="lbl" for="group">نوع المستخدم</label>
				<select class="combo-box" name="group" id="group-name">
					{% for type in types %}
						<option value="{{ type.id }}" {% if type.id == user.getGroupId %} selected {% endif %}>{{ type.group_name }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="group form-item-container">
				<label class="lbl" for="privileges">الصلاحيات</label>
				<select class="combo-box" name="privileges" id="group-id">
        
          {% for privilege in privileges %}
            <option value="{{ privilege['key'] }}" {% if privilege['key'] == user.getPrivileges %} selected {% endif %}>{{ privilege['value'] }}</option>
          {% endfor %}
				</select>
			</div>
			<input type="hidden" value="{{ user.getUserId }}" name="user-id">
			<div id="buttons-container" class="form-item-container">
				<div class="content-wrapper">
					<input class="btn success" type="submit" value="حفظ" id="submit">
					<button class="btn warning" type="reset">إلغاء</button>
				</div>
			</div>
		</form>
	</div>
{% endblock users %}
