{% extends parentTemplate %}

{% block childCSS %}
	<link rel="stylesheet" href="/css/exams/exams.css">
{% endblock childCSS %}

{% block content %}

	<div
		class='content exams-content'>

		<!-- The Header of the page -->
		<div class='page-header'>
			<div class='page-data'>
				<span class='grade-name'>الكنترول</span>
			</div>

			<div class='menu-bar'>

				<div class='menu'>
					<span class='menu-title'>الصف</span>
					<div class='menu-content'>
						<div class='wrapper'>
							<a href='{{ linkPrefex }}/1' class='menu-btn'>الأول</a>
							<a href='{{ linkPrefex }}/2' class='menu-btn'>الثاني</a>
						</div>
					</div>
				</div>

				<div class='menu'>
					<span class='menu-title'>رصد الدور الأول</span>
					<div class='menu-content'>
						<div class='wrapper'>
							<div class='sub-menu'>
								<span class='sub-menu-title'>التيرم الأول</span>
								<div class='sub-menu-content'>
									<div class='wrapper'>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/monitoring/evaluation/fs' class='menu-btn'>التقويمات</a>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/monitoring/practical/fs' class='menu-btn'>العملي</a>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/monitoring/written/fs' class='menu-btn'>التحريري</a>
									</div>
								</div>
							</div>

							<div class='sub-menu'>
								<span class='sub-menu-title'>التيرم الثاني</span>
								<div class='sub-menu-content'>
									<div class='wrapper'>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/monitoring/evaluation/ss' class='menu-btn'>التقويمات</a>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/monitoring/practical/ss' class='menu-btn'>العملي</a>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/monitoring/written/ss' class='menu-btn'>التحريري</a>
									</div>
								</div>
							</div>
							<a href='' class='menu-btn'>تقارير الرصد</a>
						</div>
					</div>
				</div>

				<div class='menu'>
					<span class='menu-title'>الشهادات</span>
					<div class='menu-content'>
						<div class='wrapper'>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/certificates/ss' class='menu-btn'>نصف العام</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/certificates/ss' class='menu-btn'>آخر العام</a>
						</div>
					</div>
				</div>

				<div class='menu'>
					<span class='menu-title'>الشيتات</span>
					<div class='menu-content'>
						<div class='wrapper'>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/sheets/fs' class='menu-btn' class='menu-btn'>نصف العام</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/sheets/ss' class='menu-btn'>آخر العام</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/sheets/success' class='menu-btn'>ناجح</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/sheets/failer' class='menu-btn'>له دور ثان</a>
						</div>
					</div>
				</div>

				<div class='menu'>
					<span class='menu-title'>كشوف</span>
					<div class='menu-content'>
						<div class='wrapper'>
							<div class='sub-menu'>
								<span class='sub-menu-title'>العشرة الأوائل</span>
								<div class='sub-menu-content'>
									<div class='wrapper'>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/top-ten/fs' class='menu-btn'>التيرم الأول</a>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/top-ten/ss' class='menu-btn'>آخر العام</a>
									</div>
								</div>
							</div>

							<div class='sub-menu'>
								<span class='sub-menu-title'>نتيجة إجمالية</span>
								<div class='sub-menu-content'>
									<div class='wrapper'>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/overall-result/fs' class='menu-btn'>التيرم الأول</a>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/overall-result/ss' class='menu-btn'>آخر العام</a>
										<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/overall-result/second-round' class='menu-btn'>بعد الدور الثاني</a>
									</div>
								</div>
							</div>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/success' class='menu-btn'>ناجحون دور أول و ثان</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/failer' class='menu-btn'>راسب و باق للإعادة</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statements/mehany' class='menu-btn'>محول مهني</a>
						</div>
					</div>
				</div>

				<div class='menu'>
					<span class='menu-title'>إحصاءات</span>
					<div class='menu-content'>
						<div class='wrapper'>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statistics/fs' class='menu-btn'>التيرم الأول</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statistics/ss' class='menu-btn'>آخر العام</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}/statistics/second-round' class='menu-btn'>بعد الدور الثاني</a>
						</div>
					</div>
				</div>

				<div class='menu'>
					<span class='menu-title last'>الدور الثاني</span>
					<div class='menu-content'>
						<div class='wrapper'>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}' class='menu-btn'>كشوف المناداة</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}' class='menu-btn'>دليل الدور الثاني</a>
							<a href='{{ linkPrefex }}/{{ gradeNumber ? : 1 }}' class='menu-btn'>توقيع الدور الثاني</a>
						</div>
					</div>
				</div>

				<div class='menu' id='options'>
					<span class='show-hide-colors menu-title'>إخفاء الألوان</span>
				</div>

			</div>
			<div class='menu' id='options'>
				<span class='menu-title'>{{ gradeName }}</span>
			</div>
		</div>

		{% if child %}
			{% include template_from_string(child) %}
		{% endif %}
	</div>

{% endblock content %}
{% block js %}
	<script src="/js/exams/content.js" type="module"></script>
{% endblock js %}
