{% import "exams/general/absence.twig" as absence %}

{% if entity.sciences.fs.evaluation.isAbsence %}
	{{ absence.absenceCell(entity.sciences.fs.evaluation.value) }}
{% else %}
	<td>{{ entity.sciences.fs.evaluation.value }}</td>
{% endif %}

{% if entity.sciences.fs.practicalExam.isAbsence %}
	{{ absence.absenceCell(entity.sciences.fs.practicalExam.value) }}
{% else %}
	<td>{{entity.sciences.fs.practicalExam.value}}</td>
{% endif %}

{% if entity.sciences.fs.writtenExam.isAbsence %}
	{{ absence.absenceCell(entity.sciences.fs.writtenExam.value) }}
{% else %}
	<td>{{entity.sciences.fs.writtenExam.value}}</td>
{% endif %}
