{% import "exams/general/absence.twig" as absence %}

{% if entity.sciences.ss.evaluation.isAbsence %}
	{{ absence.absenceCell(entity.sciences.ss.evaluation.value) }}
{% else %}
	<td>{{ entity.sciences.ss.evaluation.value }}</td>
{% endif %}

{% if entity.sciences.ss.practicalExam.isAbsence %}
	{{ absence.absenceCell(entity.sciences.ss.practicalExam.value) }}
{% else %}
	<td>{{entity.sciences.ss.practicalExam.value}}</td>
{% endif %}

{% if entity.sciences.ss.writtenExam.isAbsence %}
	{{ absence.absenceCell(entity.sciences.ss.writtenExam.value) }}
{% else %}
	<td>{{entity.sciences.ss.writtenExam.value}}</td>
{% endif %}


{% if entity.sciences.ss.written.isAbsence %}
	{{ absence.absenceCell(entity.sciences.ss.written.value) }}
{% else %}
	<td>{{entity.sciences.ss.written.value}}</td>
{% endif %}
