{% if entity.activity_2.fs.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.activity_2.fs.value }}</td>
{% endif %}

{% if entity.activity_2.ss.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.activity_2.ss.value }}</td>
{% endif %}

{# total #}
{% if entity.activity_2.subjectResult.total.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.activity_2.subjectResult.total.value }}</td>
{% endif %}

{# netDegree #}
{% if entity.activity_2.subjectResult.netDegree.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.activity_2.subjectResult.netDegree.value }}</td>
{% endif %}

{# grade #}
{% if  entity.activity_2.subjectResult.grade.isAbsence %}
	{% include absence %}
{% else %}
	{% if entity.activity_2.subjectResult.grade.value == 'F' %}
		<td class="danger">{{  entity.activity_2.subjectResult.grade.value }}</td>
	{% else %}
		<td>{{  entity.activity_2.subjectResult.grade.value }}</td>
	{% endif %}
{% endif %}
