{% import "exams/general/absence.twig" as absence %}

{% if entity.sports.fs.isAbsence %}
	{{ absence.absenceCell(entity.sports.fs.value) }}
{% else %}
	<td>{{ entity.sports.fs.value }}</td>
{% endif %}

{% if entity.sports.ss.isAbsence %}
	{{ absence.absenceCell(entity.sports.ss.value) }}
{% else %}
	<td>{{ entity.sports.ss.value }}</td>
{% endif %}

{# total #}
{% if entity.sports.subjectResult.total.isAbsence %}
	{{ absence.absenceCell(entity.sports.subjectResult.total.value) }}
{% else %}
	<td>{{ entity.sports.subjectResult.total.value }}</td>
{% endif %}

{# grade #}
{% if  entity.sports.subjectResult.grade.isAbsence %}
	{{ absence.absenceCell(entity.sports.subjectResult.grade.value) }}
{% else %}
	{% if entity.sports.subjectResult.grade.isPassed != true %}
		<td class="danger">{{  entity.sports.subjectResult.grade.value }}</td>
	{% else %}
		<td>{{  entity.sports.subjectResult.grade.value }}</td>
	{% endif %}
{% endif %}
