<td governorate-id="{{ address['governorate']['id'] }}">{{ address['governorate']['name'] }}</td>
<td city-id="{{ address['city']['id'] }}">{{ address['city']['name'] }}</td>
<td>{{ address['district'] }}</td>
<td>{{ address['street'] }}</td>
<td>{{ address[''] }}</td>
