<td>
	<a href="employees-affairs/edit/{{ employee['id'] }}">{{ personalData['name'] }}</a>
</td>
<td>{{ personalData['national-id'] }}</td>
<td>{{ personalData['pirthdate'] }}</td>
<td>{{ personalData['gender'] }}</td>
<td>{{ personalData['religion'] }}</td>
<td>{{ personalData['nationality'] }}</td>
