{% extends 'base.twig' %}

{% block content %}

	<div
		class='content exams-content'>

		<!-- The Header of the page -->
		<div class='page-header'>

			<div class='menu-bar'>

				<div class='menu drop-down-menu profile-menu'>
					<span class='menu-title avatar'>الكنترول</span>
					<div class="menu-content">
						<div class="menu-content-wrapper">
							<div class="menu drop-down-menu">
								<span class="menu-title">
									<i class="fa fa-user"></i>
									<span class="user-name">{{ fullName }}</span>
									<i class="fa fa-angle-down"></i>
								</span>
								<div class="menu-content">
									<div class="menu-content-wrapper">
										<a href="/logout" class="menu-btn">
											<i class="fa fa-sign-out"></i>
											تسجيل الخروج
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class='menu drop-down-menu'>
					<span class='menu-title'>الصف</span>
					<div class='menu-content'>
						<div class='menu-content-wrapper'>
							<a href='/exams/1' class='menu-btn'>الأول</a>
							<a href='/exams/2' class='menu-btn'>الثاني</a>
						</div>
					</div>
				</div>

				<div class='menu drop-down-menu'>
					<span class='menu-title'>رصد الدور الأول</span>
					<div class='menu-content'>
						<div class='menu-content-wrapper'>
							<div class='menu left-slide-menu'>
								<span class='menu-title'>التيرم الأول</span>
								<div class='menu-content'>
									<div class='menu-content-wrapper'>
										<a href='/monitoring/{{ gradeNumber ? : 1 }}/evaluation/fs' class='menu-btn'>التقويمات</a>
										<a href='/monitoring/{{ gradeNumber ? : 1 }}/practical/fs' class='menu-btn'>العملي</a>
										<a href='/monitoring/{{ gradeNumber ? : 1 }}/written/fs' class='menu-btn'>التحريري</a>
									</div>
								</div>
							</div>

							<div class='menu left-slide-menu'>
								<span class='menu-title'>التيرم الثاني</span>
								<div class='menu-content'>
									<div class='menu-content-wrapper'>
										<a href='/monitoring/{{ gradeNumber ? : 1 }}/evaluation/ss' class='menu-btn'>التقويمات</a>
										<a href='/monitoring/{{ gradeNumber ? : 1 }}/practical/ss' class='menu-btn'>العملي</a>
										<a href='/monitoring/{{ gradeNumber ? : 1 }}/written/ss' class='menu-btn'>التحريري</a>
									</div>
								</div>
							</div>
							<a href='' class='menu-btn'>تقارير الرصد</a>
						</div>
					</div>
				</div>

				<div class='menu drop-down-menu'>
					<span class='menu-title'>الشهادات</span>
					<div class='menu-content'>
						<div class='menu-content-wrapper'>
							<div class="menu left-slide-menu">
								<span class="menu-title">نصف العام</span>
								<div class="menu-content">
									<div class="menu-content-wrapper">
										<a href='/certificates/{{ gradeNumber ? : 1 }}/fs/all' class='menu-btn' class='menu-btn'>كل الطلبة</a>
										<a href='/certificates/{{ gradeNumber ? : 1 }}/fs/passed' class='menu-btn' class='menu-btn'>الناجحون</a>
										<a href='/certificates/{{ gradeNumber ? : 1 }}/fs/failed' class='menu-btn' class='menu-btn'>الضعاف</a>
									</div>
								</div>
							</div>

							<div class="menu left-slide-menu">
								<span class="menu-title">آخر العام</span>
								<div class="menu-content">
									<div class="menu-content-wrapper">
										<a href='/certificates/{{ gradeNumber ? : 1 }}/ss/all' class='menu-btn'>كل الطلبة</a>
										<a href='/certificates/{{ gradeNumber ? : 1 }}/ss/passed' class='menu-btn'>الناجحون</a>
										<a href='/certificates/{{ gradeNumber ? : 1 }}/ss/failed' class='menu-btn'>لهم دور ثان</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class='menu drop-down-menu'>
					<span class='menu-title'>الشيتات</span>
					<div class='menu-content'>
						<div class='menu-content-wrapper'>

							<div class="menu left-slide-menu">
								<span class="menu-title">نصف العام</span>
								<div class="menu-content">
									<div class="menu-content-wrapper">
										<a href='/sheets/{{ gradeNumber ? : 1 }}/fs/all' class='menu-btn' class='menu-btn'>كل الطلبة</a>
										<a href='/sheets/{{ gradeNumber ? : 1 }}/fs/passed' class='menu-btn' class='menu-btn'>الناجحون</a>
										<a href='/sheets/{{ gradeNumber ? : 1 }}/fs/failed' class='menu-btn' class='menu-btn'>الضعاف</a>
									</div>
								</div>
							</div>

							<div class="menu left-slide-menu">
								<span class="menu-title">آخر العام</span>
								<div class="menu-content">
									<div class="menu-content-wrapper">
										<a href='/sheets/{{ gradeNumber ? : 1 }}/ss/all' class='menu-btn'>كل الطلبة</a>
										<a href='/sheets/{{ gradeNumber ? : 1 }}/ss/passed' class='menu-btn'>الناجحون</a>
										<a href='/sheets/{{ gradeNumber ? : 1 }}/ss/failed' class='menu-btn'>لهم دور ثان</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class='menu drop-down-menu'>
					<span class='menu-title'>كشوف</span>
					<div class='menu-content'>
						<div class='menu-content-wrapper'>
							<div class='menu left-slide-menu'>
								<span class='menu-title'>العشرة الأوائل</span>
								<div class='menu-content'>
									<div class='menu-content-wrapper'>
										<a href='/statements/{{ gradeNumber ? : 1 }}/top-ten/fs' class='menu-btn'>التيرم الأول</a>
										<a href='/statements/{{ gradeNumber ? : 1 }}/top-ten/ss' class='menu-btn'>آخر العام</a>
									</div>
								</div>
							</div>

							<div class='menu left-slide-menu'>
								<span class='menu-title'>نتيجة إجمالية</span>
								<div class='menu-content'>
									<div class='menu-content-wrapper'>
										<a href='/statements/{{ gradeNumber ? : 1 }}/overall-result/fs' class='menu-btn'>التيرم الأول</a>
										<a href='/statements/{{ gradeNumber ? : 1 }}/overall-result/ss' class='menu-btn'>آخر العام</a>
										<a href='/statements/{{ gradeNumber ? : 1 }}/overall-result/second-round' class='menu-btn'>بعد الدور الثاني</a>
									</div>
								</div>
							</div>
							<a href='/statements/{{ gradeNumber ? : 1 }}/success' class='menu-btn'>ناجحون دور أول و ثان</a>
							<a href='/statements/{{ gradeNumber ? : 1 }}/failer' class='menu-btn'>راسب و باق للإعادة</a>
							<a href='/statements/{{ gradeNumber ? : 1 }}/mehany' class='menu-btn'>محول مهني</a>
						</div>
					</div>
				</div>

				<div class='menu drop-down-menu'>
					<span class='menu-title'>إحصاءات</span>
					<div class='menu-content'>
						<div class='menu-content-wrapper'>
							<a href='/statistics/{{ gradeNumber ? : 1 }}/fs' class='menu-btn'>التيرم الأول</a>
							<a href='/statistics/{{ gradeNumber ? : 1 }}/ss' class='menu-btn'>آخر العام</a>
							<a href='/statistics/{{ gradeNumber ? : 1 }}/second-round' class='menu-btn'>بعد الدور الثاني</a>
						</div>
					</div>
				</div>

				<div class='menu drop-down-menu'>
					<span class='menu-title'>الدور الثاني</span>
					<div class='menu-content'>
						<div class='menu-content-wrapper'>
							<a href='/second-round/{{ gradeNumber ? : 1 }}/call' class='menu-btn'>كشوف المناداة</a>
							<a href='/second-round/{{ gradeNumber ? : 1 }}/daleel' class='menu-btn'>دليل الدور الثاني</a>
							<a href='/second-round/{{ gradeNumber ? : 1 }}/sign' class='menu-btn'>توقيع الدور الثاني</a>
						</div>
					</div>
				</div>

				<div class='menu drop-down-menu' id='options'>
					<span class='menu-title'>خيارات</span>
					<div class="menu-content">
						<div class="menu-content-wrapper">
							<span class="menu-btn">إخفاء الألوان</span>
						</div>
					</div>
				</div>

			</div>
		</div>

		{% block child %}{% endblock %}
	</div>

{% endblock content %}
