{% extends parentTemplate %}

{% block content %}

<div class="content">
    <div class="data">
        <form>
            <table class="users-data">
                <thead>
                    <tr>
                        <th>مسلسل</th>
                        <th>اسم المستخدم</th>
                        <th>الاسم بالكامل</th>
                        <th>الوظيفة</th>
                        <th>المجموعة</th>
                        <th>خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in data %}
                        
                    <tr>
                        <td>{{ entity.userId }}</td>
                        <td>{{ entity.userName }}</td>
                        <td>{{ entity.fullName }}</td>
                        <td>{{ entity.moth ? '' : 'N/A' }}</td>
                        <td>{{ entity.groupId }}</td>
                        <td>
                            <a href='./edit' class='edit-user'>تعديل</a>
                            <a href='./delete' class='delete-user'>حذف</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <a href='./add' class="add-btn"><i class="fa fa-plus"></i>مستخدم جديد</a>
    </div>
</div>

{% endblock content %}