<fieldset id="address">
	<legend>العنوان</legend>
	{% include "employees-affairs/edit-employee/components/is-dirty.twig" with { status: 0, name: "address[is-dirty]" }%}
	<div class="form-row">
		<div class="form-row-content">
			<div class="form-item-container governorate">
				<input type="hidden" id="governorate-name" name="address[governorate-name]" value="">
				<label for="governorate-id" class="lbl">المحافظة</label>
				<select name="address[governorate-id]" id="governorate-id" class="combo-box resetable">
					{% for governorate in governorates %}
						<option value="{{ governorate.id }}" {% if address['governorate']['id'] == governorate.id %} selected {% endif %}>{{ governorate.name }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-item-container city">
				<input type="hidden" id="city-name" name="address[city-name]" value="">
				<label for="city-id" class="lbl">المدينة</label>
				<select name="address[city-id]" id="city-id" class="combo-box resetable">
					{% for city in cities %}
						<option value="{{ city.id }}" {% if address['city']['id'] == city.id %} selected {% endif %}>{{ city.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-row-content">
			<div class="form-item-container district">
				<label for="district" class="lbl">حي - منطقة - قرية</label>
				<input type="text" name="address[district]" id="district" class="text-box resetable" value={{ address['district'] }}>
			</div>

			<div class="form-item-container street">
				<label for="street" class="lbl">الشارع</label>
				<input type="text" name="address[street]" id="street" class="text-box resetable" value={{ address['street'] }}>
			</div>

			<div class="form-item-container house">
				<label for="house" class="lbl">المنزل</label>
				<input type="text" name="address[house]" id="house" class="text-box resetable">
			</div>
		</div>
	</div>
	{% include "employees-affairs/edit-employee/components/fieldset-buttons.twig" %}
</fieldset>
