{% if entity.draw.evaluation.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.draw.evaluation.value }}</td>
{% endif %}

{% if entity.draw.written.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.draw.written.value}}</td>
{% endif %}

{% if entity.draw.netDegree.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.draw.netDegree.value}}</td>
{% endif %}

{% if entity.draw.grade.isAbsence %}
	{% include absence %}
{% else %}
	{% if entity.draw.grade.grade == 'F' %}
		<td class="danger">{{entity.draw.grade.grade}}</td>
	{% else %}

		<td>{{entity.draw.grade.grade}}</td>
	{% endif %}
{% endif %}
