{% import "exams/general/absence.twig" as absence %}

{% if entity.math.evaluation.isAbsence %}
	{{ absence.absenceCell(entity.math.evaluation.value) }}
{% else %}
	<td>{{ entity.math.evaluation.value }}</td>
{% endif %}

{% if entity.math.aljebra.isAbsence %}
	{{ absence.absenceCell(entity.math.aljebra.value) }}
{% else %}
	<td>{{entity.math.aljebra.value}}</td>
{% endif %}

{% if entity.math.geometry.isAbsence %}
	{{ absence.absenceCell(entity.math.geometry.value) }}
{% else %}
	<td>{{entity.math.geometry.value}}</td>
{% endif %}

{% if entity.math.total.isAbsence %}
	{{ absence.absenceCell(entity.math.total.value) }}
{% else %}
	<td>{{entity.math.total.value}}</td>
{% endif %}

{% if entity.math.netDegree.isAbsence %}
	{{ absence.absenceCell(entity.math.netDegree.value) }}
{% else %}
	<td>{{entity.math.netDegree.value}}</td>
{% endif %}

{% if entity.math.grade.isAbsence %}
	{{ absence.absenceCell(entity.math.grade.value) }}
{% else %}
	{% if entity.math.grade.grade == 'F' %}
		<td class="danger">{{entity.math.grade.grade}}</td>
	{% else %}

		<td>{{entity.math.grade.grade}}</td>
	{% endif %}
{% endif %}
