{% import "exams/general/absence.twig" as absence %}

{% if entity.sports.netDegree.isAbsence %}
	{{ absence.absenceCell(entity.sports.netDegree.value) }}
{% else %}
	<td>{{entity.sports.netDegree.value}}</td>
{% endif %}

{% if entity.sports.grade.isAbsence %}
	{{ absence.absenceCell(entity.sports.grade.value) }}
{% else %}
	{% if entity.sports.grade.grade == 'F' %}
		<td class="danger">{{entity.sports.grade.grade}}</td>
	{% else %}

		<td>{{entity.sports.grade.grade}}</td>
	{% endif %}
{% endif %}
